<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noahjutz.gymroutines">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.routines.CreateRoutineActivity"></activity>
        <activity android:name=".ui.routines.RoutinesFragment" />
        <activity
            android:name=".ui.exercises.view_exercise.ExerciseActivity"
            android:label="View Exercise" />
        <activity
            android:name=".ui.exercises.CreateExerciseActivity"
            android:label="Create Exercise" />
        <activity
            android:name=".ui.exercises.ExercisesFragment"
            android:label="Exercises" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>